- name: instalando ansible na maquina 
  hosts: automation.dexter.com.br
  tasks: 
   
    - name: instalando pacote ansibles
      package:
        name:  ansible 
        state: latest 

    - name: copiando chaves
      copy:
        src: "{{item.src}}"
        dest: "{{item.dest}}"
      with_items:
        - { src: /etc/keys, dest: /etc/ }
        - { src: /etc/ansible/hosts , dest: /etc/ansible/}
        - { src: /etc/ansible/ansible.cfg, dest: /etc/ansible/ } 
  




          
           

